In [4]:
# Lecture 1: Python Programming Basics

# show the zen of python
import this

## Data structures
1. list
2. tuple
3. dictionary
4. set

In [8]:
# create list
l1 = [1, 2, 3]
print(l1)
l2 = [1, 1.2, 'jake']
print(l2)
l3 = [] # empty list
print(l3)

[1, 2, 3]
[1, 1.2, 'jake']
[]

In [10]:
#smart way to create a list
l4 = [2, 1] * 10
print(l4)

[2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1]

In [12]:
len(l4)

20

In [16]:
# get access elements in a list
l5= [1, 2, 3, 4, 5]
# index of a list starts from 0
print(l5[0], l5[-1], l5[1:3]) # index -1 points to the last element

1 5 [2, 3]

In [19]:
# list concatenation
x = [1,2,3]
print(x)
x.extend([4,5])
print(x)

# list addition
y = x + [7, 8]
print(y)

# append one element
y.append(10)
print(y)

[1, 2, 3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7, 8]
[1, 2, 3, 4, 5, 7, 8, 10]

In [20]:
len(y)

8

In [21]:
sum(y)

40

## List is not efficient in Python. We use Numpy array instead.

In [22]:
import numpy as np
np.__